<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about.html</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div class="navigationBar">
            <a href="about"> About Page</a>
            <a href="home"> Main Blog</a>
            <a href="archive"> Archive </a>
            <a href="plan"> See The Plan!</a>
            <a href="techtips-css"> Techtips w/o CSS</a>
            <a href="techtips+css"> Techtips with CSS </a>
    </div>

    <div>
        <h1> User Address : {{ request.META.REMOTE_ADDR }}</h1>
    </div>

    <div class="blogPost">
        <h1>Meet your Best Friend and the Taste of Your <em><strong>Life</strong></em></h1>
        <h2> Biography </h2>
        <p>
            &frac35; Cheeze + &frac25; crunch &equals; flavor galor.
            Amet purus gravida quis blandit turpis cursus in hac habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt dui ut ornare lectus sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.
        </p>
        <img src="../../static/blog/images/mascot.jpeg" class="blogImage" alt="Cheeze it mascot">
    </div>

    <div class="blogPost">
        <h1>Big Sport and Big Fans</h1>
        <p>
            Amet purus gravida quis blandit turpis cursus in hac habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt dui ut ornare lectus sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.
        </p>
        <img src="../../static/blog/images/cheez-it-bowl.jpeg" class="blogImage" alt="Football player with cheeze its">
    </div>

    <div class="blogPost">
        <h1>#1 GOAT</h1>
        
        <p>
            Amet purus gravida quis blandit turpis cursus in hac habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt dui ut ornare lectus sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.
        </p>
        <img src="../../static/blog/images/football_cheez_its.jpeg" class="blogImage" alt="football helmets with more cheeze its">
    </div>

</body>
</html>