<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
{% load static %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div class="navigationBar">
            <a href="about"> About Page</a>
            <a href="home"> Main Blog</a>
            <a href="archive"> Archive </a>
            <a href="plan"> See The Plan!</a>
            <a href="techtips-css"> Techtips w/o CSS</a>
            <a href="techtips+css"> Techtips with CSS </a>
    </div>

    <div>
    {% if latestBlogPosts %}
        <ul>
        {% for post in latestBlogPosts %}
            <li>
                <a href="{% url 'blog:blogPost' post.id %}"><h1>{{post.title}}</h1></a>
             <h2> Author: {{post.author}}</h2>
                <p>Date Published: {{post.posted}}</p>
            <p>{{ post.content|truncatewords:100 }}<p>
            {% for choice in post.comment_set.all %}
            Number of comments: "choice{{ forloop.counter }}"
            {% endfor %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
    </div>

</body>
</html>