<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Software Development Plan</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div class="navigationBar">
            <a href="about.html"> About Page</a>
            <a href="index.html"> Main Blog</a>
            <a href="plan.html"> See The Plan!</a>
            <a href="style.css"> Style Sheet</a>
            <a href="techtips-css.html"> Techtips w/o CSS</a>
            <a href="techtips+css.html"> Techtips with CSS </a>
    </div>
    <div class="div-0"> 

        <h1>Phase 0: Requirements Specification </h1>
        <ul>
            <li> Create the following sheets: 
                <ul>
                    <li>plan.html</li>
                    <li>index.html</li>
                    <li>about.html</li>
                    <li>techtips-css.html</li>
                    <li>techtips+css.html</li>
                    <li>style.css</li>
                </ul>
            </li>
            <li>
                Each page needs to be validated by W3C validator found here <a href="https://validator.w3.org/"> here </a>
            </li>
            <li>
                CSS style sheets need to be validated here <a href="https://jigsaw.w3.org/css-validator"> here </a>
            </li>
            <li>
                All pages need to link to eachother
            </li>
            <li>
                All of the pages need to use the style.css sheet (that is also validated at the above link). techtips-css.html does not use that page. Use a <em>relative</em> URL
            </li>
            <li>
                Website needs to use at least one of all of the following features:
                    <ul>
                        <li>
                            div
                        </li>
                        <li>
                            p
                        </li>
                        <li>
                            code
                        </li>
                        <li>
                            ol
                        </li>
                        <li>ul</li>
                        <li>h1</li>
                        <li>h2</li>
                        <li>a</li>
                        <li>img</li>
                    </ul>
            </li>
            <li>
                And for the CSS file it needs to use the following properties and selectors:
                    <ul>
                        <li>
                            background-color
                        </li>
                        <li>color</li>
                        <li>font-family</li>
                        <li>font-style</li>
                        <li>font-size</li>
                        <li>margin</li>
                        <li>padding</li>
                        <li>element</li>
                        <li>.class</li>
                        <li>:nth-child</li>
                    </ul>
            </li>
            <li>
                Main page needs three blog post with a title, a byline that containes author and date, and a body of text using the &lt;p&gt; symbol
            </li>
            <li>
                About me page includes a portrait of the client and a brief lorem ipsum text about them. It also has three images that are part of the project directory and load using <em>relative</em> urls
            </li>
            <li>
                Two techtips pages. They need to look essentially the same, one uses the style.css file while the other has manual color changes. Each cheat sheet on each page should have its own &lt;div&gt; dividers. They also have an unorderd list of facts. Both page includes the following cheat sheets:
                    <ol>
                        <li>
                            Html Elements describes 4 elements where each element is named in monospace font. The name must link to its article on MDN via an absolute URL. Explain the purpose of the element and explain its purpose.
                        </li>
                        <li>
                            HTML Character entities. Describe 3 characgers used in the site. Name them in monospace font and show what the symbol looks like
                        </li>
                        <li>
                            Name all 4 CSS selectors used in the site. Name each in monospace font. Describe what HTML feature each selector finds (ID, class, element, etc.)
                        </li>
                        <li>
                            CSS Properties: describe three properties used on the stie. Name them in monospace font. Explain purpose of each proerty
                        </li>
                    </ol>
 
            </li>
           <li>
                The two pages should be identical or close to it. Do techtips+css.html first, then convert that into the HTML only page
            </li>

            <li>A <em><strong>good</strong></em> solution will implement all of the above information smoothly and accurately</li>
            <li> Some challenges I forsee are putting in all of the CSS information correctly. This is my first time working with html so I 
            still make some annoying mistakes. I will be verifiying my code often
            </li>
            <li>Creating this plan above has already made me figure out how to nest tags, create lists, use emphasis and strong keywords. The next step for me is to learn what capabilites everything has and how I can best use them in my websites.</li>
        </ul>
    </div>

    <div class="div-1">

        <h1>Phase 1: System Analysis </h1>
        Data used by the program:
        <ol>
            <li> No stored user/viewer data</li>
            <li> It will use website links to other pages as well as the validator websites</li>
            <li> Website will also need to have a link to an img for display</li>
        </ol>
        The output will be in the form a website with five different pages. There will be three images hosted within my code and all the pages should link to eachother. There will be CSS elements across all of them.

        I can't think of any algorithms that this website will need to use. 


    </div>

    <div class="div-2"> 

        <h1>Phase 2: Design </h1>

    </div>

    <div class="div-3"> 

        <h1>Phase 3: Implementation </h1>


    </div>

    <div class="div-4"> 

        <h1>Phase 4: Testing and Debugging </h1>



    </div>

    <div class="div-5"> 

        <h1>Phase 5: Deployment </h1>


    </div>

    <div class="div-6"> 

        <h1>Phase 6: Maintenance </h1>
        <ul>
            <li>What parts of your program are sloppily written and hard to understand?
            <ul>
                <li>Are there parts of your program which you aren’t quite sure how/why they work?</li>
                <li>If a bug is reported in a few months, how long would it take you to find the cause?</li>
            </ul>
            </li>
        <li>Will your documentation make sense to
            <ul>
                <li>anybody besides yourself?</li>
                <li>yourself in six month’s time? </li>
            </ul>
        </li>
        <li>How easy will it be to add a new feature to this program in a year? </li>
            <li>Will your program continue to work after upgrading
            <ul>
                <li>your computer’s hardware? Yes, this is hardware independent.</li>
                <li>the operating system? Yes, unless there is a new version of HTML out, then I would need to do some updates.</li>
                <li>to the next version of Python? Yes, this doesn't even use Python</li>
            </ul>
        </li>
    </ul>
    </div>
</body>
</html>

