<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Software Development Plan</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div class="navigationBar">
            <a href="about"> About Page</a>
            <a href="home"> Main Blog</a>
            <a href="archive"> Archive </a>
            <a href="plan"> See The Plan!</a>
            <a href="techtips-css"> Techtips w/o CSS</a>
            <a href="techtips+css"> Techtips with CSS </a>
    </div>
    <div>
        <h1> User Address : {{ request.META.REMOTE_ADDR }}</h1>
    </div>
    <div class="div-0"> 

        <h1>Phase 0: Requirements Specification </h1>
        <ul>
            <li>Implment polls app from tutuorial</li>
            <li> Create new app called blog</li>
            <li>Copy CSS and image files from previous assignments here</li>
            <li> Copy html files into templates section of this new app</li>
            <li> Add dynamic element to each of those html files using the double bracket syntax</li>
            <li> Update this plan and include something dynamic here</li>
            <li> Create two models in the blog. Blog class and Comments class with values shown <a href="https://usu.instructure.com/courses/709835/assignments/3776674">here</a></li>
            <li>Create three dynamic pages
                <ol>
                    <li>Blog home: display the most recent 3 blogs, newest first. Display first 100 words and number of comments ont the post

                    </li>

                    <li>Blog archive which lists all blogs, newest first. Each displays 100 words and number of comments on the post</li>
                    <li>Blog entry: detailed view wchih displays entire blog post, all comemnts for post newest to oldest, and an Add Comment form which POSTs a new comment then redirect user back to the sam blog entry</li>

                </ol>
            </li>
            <li> Create a data migration to populate with dummy data</li>
            <li>At least 4 blog entries with more than 100 words. Each blog needs a title, author,a nd posted date</li>
            <li> Create 4 comments to see that blog home and archives pages operate correctly. Use email, commenter name and posted date. All comments can be identical <em>lorem ipsum</em></li>
        </ul>

    </div>

    <div class="div-1">

        <h1>Phase 1: System Analysis </h1>
        Data used by the program:
        <ol>
            <li> Stored blog data with comments, words, date added, and author</li>
            <li> It will use website links to other pages as well as the validator websites</li>
            <li> Website will also need to have a images in the static area</li>
        </ol>
        The output will be in the form a website with stored blog data that can be read and utilizied.

        I can't think of any algorithms that this website will need to use. 

    </div>

    <div class="div-2"> 

        <h1>Phase 2: Design </h1>

    </div>

    <div class="div-3"> 

        <h1>Phase 3: Implementation </h1>
        <ul>
            <li>
                Attempted to use a counter loop to get all the associated comments for each post
            </li>
        </ul>


    </div>

    <div class="div-4"> 

        <h1>Phase 4: Testing and Debugging </h1>
        <ul>
            <li>
                Implemented truncate built in from django tags for the blog posts.
            </li>
            <li>
                Date were being displayed oldest to newest, so I flipped the lists around when they are called: PASSED
            </li>
            <li> Posts with 0 comments and multiple are being displayed correctly, as well as correct count for each blog post</li>
            <li> Comments can now be added correctly. Tested redirection and it is working correctly</li>
            <li> Redirection from the comment page is not working properly: </li>
            <li> Comments coming out oldest to newest.. Passing them in reversed, working correctly</li>

        </ul>



    </div>

    <div class="div-5"> 

        <h1>Phase 5: Deployment </h1>


    </div>

    <div class="div-6"> 

        <h1>Phase 6: Maintenance </h1>
        <ul>
            <li>What parts of your program are sloppily written and hard to understand?
            <ul>
                <li>Are there parts of your program which you aren’t quite sure how/why they work?</li>
                <li>If a bug is reported in a few months, how long would it take you to find the cause?</li>
            </ul>
            </li>
        <li>Will your documentation make sense to
            <ul>
                <li>anybody besides yourself?</li>
                <li>yourself in six month’s time? </li>
            </ul>
        </li>
        <li>How easy will it be to add a new feature to this program in a year? </li>
            <li>Will your program continue to work after upgrading
            <ul>
                <li>your computer’s hardware? Yes, this is hardware independent.</li>
                <li>the operating system? Yes, unless there is a new version of HTML out, then I would need to do some updates.</li>
                <li>to the next version of Python? Yes, this doesn't even use Python</li>
            </ul>
        </li>
    </ul>
    </div>
</body>
</html>

