<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>techtips+css.html</title>
    </head>
    <body>
        <nav class="nav nav-pills nav-fill mb-2">
            <a class="nav-link" aria-current="page" href="about.html">About</a>
            <a class="nav-link" href="index.html">Main Blog</a>
            <a class="nav-link active" href="tips.html">Tips</a>
            <a class="nav-link" href="debugging">Debugging</a>
            <a class="nav-link" href="teapot.html"> Teapot</a>
            <a class="nav-link" href="forbidden.html"> Authorized Access</a>
          </nav>
          <div class="card p-3 text-bg-primary mb-3">
            <h1> HTML Elements</h1>
            <ol>
                <li>
                    One of the elements is <span class="mono"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li">&lt;li&gt;</a> </span>. This is used as a list item; so every item in a list must be related to one of these list items. This is a block level element.
                </li>
                <li>
                    Another element is the <span class="mono"> <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul">&lt;ul&gt;</a></span>. This is short for unordered list. Basically just bullet points, this helps organize information. This is a block level element.
                </li>
                <li>
                    The paragraph element is shown as <span class="mono"> <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">&lt;p&gt;</a></span>. It's purpose is to format text for any sized window so that any device or screen setup will still alow users to see everything without words falling off of the page. This is a block level element.
                </li>
                <li>
                    The header one element is shown as <span class="mono"> <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements">&lt;h1&gt;</a></span>. This creates a large text size that helps users see different subjections thorughout a page. This is a block level element.
                </li>
            </ol>
            

        </div>
        <div class="card p-3 text-bg-primary mb-3">
            <h1>HTML Character Entities </h1>
            <ol>
                <li>
                    The equal sign is incredibly helpful for math and general logic. It looks like this <span class="mono"> &equals;</span>
                </li>
                <li>
                    The fraction symbol can be used to display fractions. For example, you can do one fourth <span class="mono"> &frac14;</span>, or three fifths, <span class="mono"> &frac35;</span>, and other combinations. This can even be done within other blocks as shown here (inside a code block) <code> &frac35; + &frac25; &equals; 1; </code>
                </li>
                <li>
                    The less than symbol is used to show that something is worth less than another object, usually a number. It is also a character used to show the literal tags used when writing html. It looks like this:  <span class="mono">&lt; </span>
                </li>
            </ol>
            

        </div>
        <div class="card p-3 text-bg-primary mb-3">
            <h1>CSS Selectors</h1>
            The four CSS selectors used on this site are as follows:
            <ol>
                <li>
                    <span class="mono"> Element </span> This is used in a global style because it affects every element of that type; for example I have a few element selectors to get paragraphs, header one, and the body of every page. 
                </li>
                <li>
                    <span class="mono"> .class </span> This is used to change specific, repeated items. I created a blogPost class that formats everything with the same background colors and padding to look uniform. When something is named or tagged with this class's ID, it gets whatever styling information is stored within this class on the css sheet. All of the monospaced elements you see are matched to the id <code>mono</code> which allows them to look uniform. This is more specific than the class indicator.
                </li>
                <li>
                    <span class="mono"> #id </span> Id must be a unique element across the entire project. In the Main Blog page there is a special id Carbs that looks different than the rest of the words around it; this is because of a unique id.
                </li>
                <li>
                    <span class="mono"> :nth-child </span> This is used across each page to switch the background color of every other list item. It can be adjusted to start on the even or odd child, depending on what you want. 
                </li>
            </ol>
            

        </div>
        <div class="card p-3 text-bg-primary mb-3">
            <h1>CSS Properties</h1>
            <ul>
                <li>
                    <span class="mono"> background-color </span> is used to change the background color from blue, to black, to orange, to whatever other color you would like to see. Two possible forms are just a color, like blue, or a hexadecimal value, like #FFD700.
                </li>
                <li>
                    <span class="mono"> font-size </span> is used to change the size of the font. It can be changed with the value <code>smaller</code> or with a specific size like <code> 12em</code>.
                </li>
                <li>
                    <span class="mono"> color </span> is used to change the color of the actual words. Rather than a highlighter like background color, this changes words as they are used. Notice how the headers are all orange while the body text is black and white; this is because of a color value being changed. Like background-color, this can be set to a nomral color like red, or a hexadecimal value like #FFD700
                </li>
            </ul>
            

        </div>
    </body>
</html>